* {
	margin: 0px;
	padding: 0px;
	color: #2a7c6f;
	font-family: "Roboto", sans-serif;
}

html {
	scroll-behavior: smooth;
}

body::-webkit-scrollbar {
	padding: 0;
	margin: 0;

	overflow-y: scroll;
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
	display: none; /* Hide scrollbar for Chrome, Safari and Opera */
}

/* 
HEADER HEADER HEADER
HEADER HEADER HEADER
*/

.header {
	overflow: hidden;
	padding: 20px 10px;
}

.header a {
	float: left;
	text-transform: uppercase;
	margin-right: 50px;
	text-align: center;
	padding: 18px;
	font-weight: 300;
	text-decoration: none;
	font-size: 24px;
	line-height: 25px;
	border-radius: 4px;
}

.header a:hover {
	color: #70ccbd;
}

.logo {
	margin-top: -20px;
}

.header-right {
	float: right;
}

@media screen and (max-width: 1170px) {
	.header a {
		margin-right: 10px;
	}
}

@media screen and (max-width: 975px) {
	.header a {
		float: none;
		display: block;
		text-align: center;
	}
	.header-right {
		float: none;
	}
}

/* 
HEADER HEADER HEADER
HEADER HEADER HEADER
*/

/* 
ADD-HEAT SECTION ADD-HEAT SECTION
ADD-HEAT SECTION ADD-HEAT SECTION
*/

.column {
	margin-top: 150px;
	float: left;
}
.left {
	width: 50%;
}

.right {
	width: 50%;
}
.right img {
	max-width: 100%;
	height: auto;
}

.pump-description {
	margin: 0 0 0 20%;
}
.pump-description h1 {
	font-weight: 200;
	font-size: 70px;
	text-transform: uppercase;
}
.pump-description h2 {
	font-weight: 300;
	margin: 50px 0px;
}
.pump-description h3 {
	font-weight: 300;
	max-width: 500px;
}

.company-name {
	font-weight: 500;
	text-transform: uppercase;
}

.row:after {
	content: "";
	display: table;
	clear: both;
}

@media screen and (max-width: 5000px) {
	.pump-description h1 {
		font-size: 80px;
		margin-bottom: 100px;
	}
	.pump-description h2 {
		font-size: 30px;
	}
	.pump-description h3 {
		font-size: 22px;
		padding-right: 25px;
	}
}

@media screen and (max-width: 1250px) {
	.pump-description h1 {
		margin-bottom: 50px;
	}
}

@media screen and (max-width: 1100px) {
	.column {
		width: 100%;
	}
	.right img {
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 100%;
	}

	.pump-description {
		margin: 0px;
		text-align: center;
	}

	.pump-description h3 {
		margin: auto;
		margin-top: 50px;
		font-size: 22px;
	}
}

/* 
ADD-HEAT SECTION ADD-HEAT SECTION
ADD-HEAT SECTION ADD-HEAT SECTION
*/

/*ABOUT-US ABOUT-US ABOUT-US*/
/*ABOUT-US ABOUT-US ABOUT-US*/

.about-us {
	margin-top: 350px;
	text-align: center;
	position: relative;
}

.about-us img {
	width: 100%;
	height: auto;
	filter: brightness(60%);
}
.about-us p {
	color: white;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -550%);
	font-size: 60px;
	text-transform: uppercase;
	font-weight: 300;
}

.our-history {
	text-align: center;
}

.our-history h2 {
	margin: 100px 0px;
	font-size: 60px;
	font-weight: 300;
	text-transform: uppercase;
}

.our-history article {
	max-width: 1000px;
	margin: auto;
	font-weight: 300;
	font-size: 24px;
	padding: 0 3%;
}

.btn {
	background-color: white;

	border: 2px solid #2a7c6f;
	outline: none;
	border-radius: 25px;
	padding: 12px 24px;
	margin: 100px 0px 00px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 20px;
	transition-duration: 0.4s;
	cursor: pointer;
}

.btn:hover {
	background-color: #2a7c6f;
	color: white;
}

/*ABOUT-US ABOUT-US ABOUT-US*/
/*ABOUT-US ABOUT-US ABOUT-US*/

/*CONTACT CONTACT CONTACT*/
/*CONTACT CONTACT CONTACT*/

.contact {
	padding: 5% 5%;
}
.contact h2 {
	color: white;
}

.contact .column {
	float: left;
	color: white;
	text-align: center;
	background-color: #2a7c6f;
	height: 800px;
}
.contact .left {
	width: 50%;
}
.contact h2 {
	margin-top: 80px;
	font-weight: 200;
	font-size: 70px;
	text-transform: uppercase;
}
.contact span {
	color: white;
	display: block;
	margin-top: 100px;
	font-size: large;
	font-weight: 3200;
	margin-bottom: 50px;
}
.contact .right {
	width: 50%;
}

@media screen and (max-width: 1001px) {
	.contact .column {
		width: 100%;
		padding: 0%;
		margin-top: 20px;
	}
}

::placeholder {
	/* Chrome, Firefox, Opera, Safari 10.1+ */
	color: white;
	opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
	/* Internet Explorer 10-11 */
	color: white;
}

::-ms-input-placeholder {
	/* Microsoft Edge */
	color: white;
}

input {
	background-color: #2a7c6f;
	color: white;
	outline: 0;
	border-width: 0 0 2px;
	border-color: white;
	margin-top: 50px;
	font-size: 18px;
	margin-left: 20px;
}
input:focus {
	border-color: white;
	outline: 1px;
}

.col {
	display: inline-block;
}

textarea {
	margin-top: 50px;
	width: 410px;
	background-color: #2a7c6f;
	outline: 0;
	border-width: 0 0 2px;
	border-color: white;
	font-size: 18px;
	color: white;
}

.submit-btn {
	width: 75%;
	border-radius: 0px;
}
.submit-btn:hover {
	background-color: #94bdb6;
	color: white;
}

@media screen and (max-width: 1200px) {
	.contact .left span {
		font-size: 20px;
	}
	.contact {
		padding: 2% 2%;
	}
}

@media screen and (min-width: 950px) {
	.contact span {
		font-size: 25px;
	}
	.contact h2 {
		font-size: 60px;
	}
}

/*MAP MAP MAP*/ /*MAP MAP MAP*/
/*MAP MAP MAP*/ /*MAP MAP MAP*/

.map iframe {
	width: 99.8%;
	height: 500px;
	border-color: white;
	border-top: #2a7c6f;
}
