* {
	margin: 0px;
	padding: 0px;
	color: #2a7c6f;
	font-family: "Roboto", sans-serif;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body::-webkit-scrollbar {
	padding: 0;
	margin: 0;

	overflow-y: scroll;
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
	display: none; /* Hide scrollbar for Chrome, Safari and Opera */
}

/* 
HEADER HEADER HEADER
HEADER HEADER HEADER
*/

.header {
	overflow: hidden;
	padding: 20px 10px;
}

.header a {
	float: left;
	text-transform: uppercase;
	margin-right: 50px;
	text-align: center;
	padding: 18px;
	font-weight: 300;
	text-decoration: none;
	font-size: 24px;
	line-height: 25px;
	border-radius: 4px;
}

.header a:hover {
	color: #70ccbd;
}

.logo {
	margin-top: -20px;
}

.header-right {
	float: right;
}

@media screen and (max-width: 1170px) {
	.header a {
		margin-right: 10px;
	}
}

@media screen and (max-width: 980px) {
	.header a {
		float: none;
		display: block;
		text-align: center;
	}
	header .logo {
		margin-left: -30px;
	}
	.header-right {
		float: none;
	}
}

/* 
HEADER HEADER HEADER
HEADER HEADER HEADER
*/

/*PRODUCT SHOWCASE PRODUCT SHOWCASE PRODUCT SHOWCASE*/
/*PRODUCT SHOWCASE PRODUCT SHOWCASE PRODUCT SHOWCASE*/

.column {
	float: left;
	margin-top: 150px;
}

.left {
	width: 50%;
}
.left img {
	max-width: 80%;
	height: auto;
	margin-left: 20%;
}
.right {
	width: 50%;
}

/*IMAGE GALLERY IMAGE GALLERY IMAGE GALLERY*/
/*IMAGE GALLERY IMAGE GALLERY IMAGE GALLERY*/

.gallery-container {
	position: relative;
	margin-left: 10%;
}

.mySlides {
	display: none;
	margin-left: -25%;
}

.cursor {
	cursor: pointer;
}
.prev,
.next {
	cursor: pointer;
	position: absolute;
	top: 40%;
	width: auto;
	padding: 16px;
	margin-top: -50px;
	color: #70ccbd;
	font-weight: bold;
	font-size: 20px;
	border-radius: 0 3px 3px 0;
	user-select: none;
	-webkit-user-select: none;
	background-color: #2a7c6f;
	opacity: 40%;
}

.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
	background-color: #70ccbd;
	opacity: 80%;
}

.caption-container {
	text-align: center;
	background-color: #2a7c6f;
	padding: 2px 16px;
	height: 50px;
	color: white;
	margin-bottom: 10px;
}

.gallery-row {
	margin-left: -4%;
}

.gallery-column {
	float: left;
	width: 20%;
}
.gallery-container img {
	width: 100%;
}

.demo {
	opacity: 0.6;
}

.active,
.demo:hover {
	opacity: 1;
}

.gallery-row:after {
	content: "";
	display: table;
	clear: both;
}
/*IMAGE GALLERY IMAGE GALLERY IMAGE GALLERY*/
/*IMAGE GALLERY IMAGE GALLERY IMAGE GALLERY*/

.right div {
	font-size: 30px;
	margin-bottom: 50px;
	text-align: center;
}
.right h2 {
	font-size: 24px;
	font-weight: 300;
	padding: 5% 10%;
	margin-bottom: 70px;
	text-align: center;
}

.pump-specification {
	font-size: 20px;
	padding: 0% 10%;
}

.pump-specification li {
	margin-bottom: 50px;
}
.right div span {
	font-size: 32px;
	font-weight: 500;
	text-transform: uppercase;
}
.row:after {
	content: "";
	display: table;
	clear: both;
}

.technical-pump-specification {
	text-align: center;
}
.technical-pump-specification h3 {
	margin-top: 150px;
	font-size: 50px;
	font-weight: 400;
}

/*TABLE TABLE TABLE*/
/*TABLE TABLE TABLE*/

.table-left {
	width: 50%;
	padding: 80px;
	padding: 0 80px 80px 80px;
}
.table-right {
	width: 50%;
	padding: 0 80px 80px 80px;
}

.table {
	margin-left: auto;
	margin-right: auto;
	border: 2px solid #70ccbd;
	border-spacing: 0;
}
.center-table {
	margin-left: auto;
	margin-right: auto;
	border: 2px solid #70ccbd;
	border-spacing: 0;
	width: 40%;
}

tr:nth-child(even) {
	background-color: #dffaf5;
}
th {
	padding: 14.5px;
	font-size: 18px;
	width: 15%;
}
td {
	padding: 16px;
	width: 15%;
}

/*TABLE TABLE TABLE*/
/*TABLE TABLE TABLE*/

@media screen and (max-width: 1700px) {
	.right h2 {
		margin-bottom: 50px;
	}
	.pump-specification li {
		margin-bottom: 30px;
	}
	.table-left {
		padding: 40px;
	}
	.table-right {
		padding: 40px;
	}
	.center-table {
		width: 50%;
	}
}
@media screen and (max-width: 1350px) {
	.right div {
		margin-bottom: 10px;
	}
	.right h2 {
		margin-bottom: 10px;
		font-size: 22px;
	}
	.pump-specification li {
		font-size: 18px;
	}
}

@media screen and (max-width: 1150px) {
	.column {
		margin: auto;
		float: none;
		width: 100%;
		max-width: 80%;
	}
	.gallery-container {
		margin-left: 0%;
	}
	.right div {
		margin-bottom: 50px;
		margin-top: 100px;
	}

	.table-left {
		margin-top: 100px;
		padding: 30px 0 15px 0;
	}
	.table-right {
		padding: 30px 0 15px 0;
	}
	.center-table {
		width: 80%;
	}
}

/*PRODUCT SHOWCASE PRODUCT SHOWCASE PRODUCT SHOWCASE*/
/*PRODUCT SHOWCASE PRODUCT SHOWCASE PRODUCT SHOWCASE*/

/*FOOTER FOOTER FOOTER*/
/*FOOTER FOOTER FOOTER*/

hr {
	background-color: #2a7c6f;
	height: 3px;
	margin-top: 150px;
}

.footer {
	margin: auto;
	text-align: center;
	padding: 0px;
}
.footer-nav {
	padding: 30px;
}
.footer-nav a {
	text-decoration: none;
	font-size: 20px;
	margin-left: 100px;
	text-transform: uppercase;
}
.footer-nav a:first-child {
	margin: 0px;
}
.footer-nav a:hover {
	color: #70ccbd;
}
@media screen and (max-width: 1050px) {
	.footer-nav a {
		margin-left: 50px;
		font-size: 18px;
	}
}
@media screen and (max-width: 900px) {
	.footer-nav a {
		margin-left: 30px;
	}
}
@media screen and (max-width: 715px) {
	.footer-nav a {
		font-size: 13px;
		margin-left: 10px;
	}
	.footer-nav a:first-child {
		margin: 0px;
	}
}

/*FOOTER FOOTER FOOTER*/
/*FOOTER FOOTER FOOTER*/
